.contact {
    font-family: "Quicksand", sans-serif;
    background-color: #eeecec;
    width: 100%;


    .container {

        .wrapper {

            .row {

                .title {
                    display: flex;
                    //border: 1px solid #000;
                    height: 250px;
                    width: 100%;

                    .img {
                        width: 400px;
                        height: 350px;

                        img {
                            width: 100%;
                            height: 100%;

                            //border: 1px solid #000;                            }
                        }
                    }

                    .heading {
                        width: 100%;

                        //margin-left: -100px;
                        h4 {
                            text-align: center;
                            font-size: 120px;
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }
}


.contact-content{
    .container{
        .wrapper{
            .row{
                .contented{
                    display:flex ;
                    .left-side{
                        margin: 100px 0px 50px 0px;
                        width: 500px;
                       .title{
                        h5 {
                                font-size: 70px;
                                font-weight: bold;
                        
                            }
                       }
                        .c-content{
                            ul{
                                li{
                                    list-style: none;
                                    // border: 1px solid #000;
                                    border: none;
                                    border-bottom:1px solid rgb(255, 253, 253) ;
                                    width: 350px;
                                    margin-left: -30px;
                                    padding: 10px 15px;
                                    background-color: #eeecec;
                                    i{
                                        color: #212529;
                                    }
                                }
                            }
                        }
                       
                    } 
                    .right {
                         margin-top: 120px;
                        background-color: #eeecec;
                        width: 50%;
                        padding: 10px 20px;
                        margin-bottom: 20px;
                        border-radius: 20px;
                        font-weight: bold;
                         .forms{
                            background-color: #eeecec;
                            input{
                                width: 100%;
                                height: 50px;
                                border-radius: 15px;
                                border: 1px solid #eeecec;
                                background-color: #c3c1c1;
                                padding: 0px 15px;
                                margin-bottom: 20px;
                               
                                
                            }

                            input::placeholder{
                                color: aliceblue;
                            }
                            textarea{
                                width: 100%;
                                    height: 50px;
                                    border-radius: 15px;
                                    border: 1px solid #eeecec;
                                    background-color: #c3c1c1;
                                    padding: 10px 15px;
                                    margin-bottom: 20px;
                                    height: 100px;
                                    resize: none;

                            }
                            textarea::placeholder{
                                color: aliceblue;
                               
                            }
                            
                         }
                     }
                }
            }
        }
    }
}
@media(max-width:991px){
    .contact {
    
    
            .container {
    
                .wrapper {
    
                    .row {
    
                        .title {
                            display: block;
                            //border: 1px solid #000;
                            height: 100px;
                            width: 100%;
    
                            .img {
                                width: 400px;
                                height: 350px;
                                display: none;
    
                                img {
                                    width: 100%;
                                    height: 100%;
    
                                    //border: 1px solid #000;                            }
                                }
                            }
    
                            .heading {
                                width: 100%;
    
                                //margin-left: -100px;
                                h4 {
                                    text-align: center;
                                    font-size: 50px;
                                    margin-top: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
                .contact-content {
                    .container {
                        .wrapper {
                            .row {
                                .contented {
                                    display: block;
        
                                    .left-side {
                                        margin: 10px 0px 50px 0px;
                                        width: 300px;
        
                                        .title {
                                            h5 {
                                                font-size: 50px;
                                                font-weight: bold;
        
                                            }
                                        }
        
                                        .c-content {
                                            ul {
                                                li {
                                                    list-style: none;
                                                    // border: 1px solid #000;
                                                    border: none;
                                                    border-bottom: 1px solid rgb(255, 253, 253);
                                                    width: 100%;
                                                    margin-left: -30px;
                                                    padding: 10px 15px;
                                                    background-color: #eeecec;
        
                                                    i {
                                                        color: #212529;
                                                    }
                                                }
                                            }
                                        }
        
                                    }
        
                                    .right {
                                        margin-top: 10px;
                                        background-color: #eeecec;
                                        width: 100%;
                                        padding: 10px 20px;
                                        margin-bottom: 20px;
                                        border-radius: 20px;
                                        font-weight: bold;
                                        
        
                                        .forms {
                                            background-color: #eeecec;
        
                                            input {
                                                width: 100%;
                                                height: 50px;
                                                border-radius: 15px;
                                                border: 1px solid #eeecec;
                                                background-color: #c3c1c1;
                                                padding: 0px 15px;
                                                margin-bottom: 20px;
        
        
                                            }
        
                                            input::placeholder {
                                                color: aliceblue;
                                            }
        
                                            textarea {
                                                width: 100%;
                                                height: 50px;
                                                border-radius: 15px;
                                                border: 1px solid #eeecec;
                                                background-color: #c3c1c1;
                                                padding: 10px 15px;
                                                margin-bottom: 20px;
                                                height: 100px;
                                                resize: none;
        
                                            }
        
                                            textarea::placeholder {
                                                color: aliceblue;
        
                                            }
        
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
}